@import url("https://fonts.googleapis.com/css2?family=Lustria&family=Tsukimi+Rounded:wght@500&display=swap");


/*Productos */
body {

 /* background-image: url("/assets/imgs/Fondos/gradiente_magico2.png");*/
 background-color: white;
  /*background-repeat: no-repeat;
  background-size: cover;
   background-attachment: fixed; Fija el fondo en su posición 
  background-position: center; */
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#encabezado {
  background-color: rgb(250, 232, 245);
  background-image: url(/assets/imgs/Fondos/gradiente_magico2.png);
  background-size:cover;
  background-position: center;
  background-repeat:space;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
 
    
  }
  #Titulo1 {
    
    font-family:  'League Spartan', sans-serif;
  }
  #titulo2 {
    font-family: 'Sanchez', serif; 
      margin-top: 1px;
      margin-bottom: 1px;
  
  }


.tarjeta {
  
    width: calc(33.33% - 20px);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    background-color: #FAE8F5(255, 255, 255, 0.8); /* Fondo blanco con transparencia */
    flex-direction: column; /* Cambiamos el flujo de los elementos a columna */
    display: flex; /* Agregamos flexbox para alinear contenido al pie */
}
  
  #botonAgregar1{
    margin: auto; /* Utilizamos "auto" para centrar el botón horizontalmente y 0 para el margen superior */
  display: block; /* Cambiamos a bloque para que ocupe el ancho completo de su contenedor */
  width: fit-content; /* Ajustamos el ancho del botón al contenido para evitar que ocupe todo el ancho de la tarjeta */
  margin-left: auto; /* Centramos el botón horizontalmente */
  margin-right: auto; /* Centramos el botón horizontalmente */
  }


.tarjeta img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.tarjeta h3 {
  margin-top: 0;
}

.tarjeta p {
  margin-bottom: 0;
}

.rating {
  
  font-size: 25px;
  display: flex;
  gap: 5px;
  cursor: pointer;
  margin-top: auto; /* Empuja el contenido hacia la parte inferior de la tarjeta */
  
  
}

.star {
  color: gray;
}

.star:hover,
.star:hover ~ .star {
  color: gold;
}

.rating-text {
  font-size: 16px;
  display: flex;
  align-items: center;
  
}

.product-rating {
  margin-left: 5px;
}



@media (max-width: 768px) {
  /* Ajustar tamaño de tarjetas para dispositivos móviles */
  .tarjeta {
    width: calc(50% - 20px);
  }
}

@media (max-width: 576px) {
  /* Ajustar tamaño de tarjetas para dispositivos pequeños */
  .tarjeta {
    width: 100%;
  }
}


