/* Estilos generales */

/* Establece el color de fondo del body a blanco */
body {
  background-color: white;
}

/* Estilos del encabezado */

/* Configura la imagen de fondo del encabezado */
#encabezado {
  background-image: url(/assets/imgs/Fondos/gradiente_magico2.png);
  background-size: cover;
  background-position: center;
  background-repeat: space;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Estilos para el título principal */
#Titulo1 {
  font-family: "League Spartan", sans-serif;
}

/* Estilos para los subtítulos */
#titulo2 {
  font-family: "Sanchez", serif;
  margin-top: 1px;
  margin-bottom: 1px;
}

/* Estilos para las tarjetas de servicios */
#servicios-card {
  background: white;
  border: 5px solid #fae8f5;
  height: 200px; /* Altura fija para la imagen */
  object-fit: cover; /* Ajustar la imagen sin perder la proporción */
  height: 300px; /* Establece una altura mínima para las tarjetas */
}

/* Estilos para los botones */
#Botones {
  font-family: "Sanchez", serif;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  bottom: auto;
}

/* Estilos para las tarjetas de reseñas */
.about-team {
  background: white;
}

.about-team-block {
  background: white;
  margin: 0 0 25px;
  transition: 0.25s;
  border: 5px solid #fae8f5;
}

/* Estilos para la imagen de las tarjetas de reseñas */
.about-team-block img {
  width: 100%;
  height: 200px; /* Altura fija para la imagen */
  object-fit: cover; /* Ajustar la imagen sin perder la proporción */
}

/* Efecto de transición al pasar el cursor sobre las tarjetas de reseñas */
.about-team-block:hover {
  transform: translateY(-8px);
  background: #fae8f5;
  color: black;
  box-shadow: 0px 21px 42px -22px #919394;
  cursor: pointer;
}

/* Estilos para el contenido dentro de las tarjetas de reseñas */
.about-team-title {
  padding: 20px 20px;
  display: flex; /* Activa el modo de visualización flex */
  flex-direction: column; /* Apila el contenido verticalmente */
  justify-content: center; /* Centra verticalmente el contenido */
  height: 300px; /* Establece una altura mínima para las tarjetas */
}

.about-team-title h5 {
  text-align: center;
}

.about-team-title p {
  text-align: center;
  margin: 0;
}

/* Estilos para la imagen principal de cada tarjeta de reseñas */
.card-img-top {
  border: 3px solid #fae8f5;
  object-fit: cover;
  height: 225px;
  width: calc(100% - 20px); /* Resta 20 píxeles para el espacio a los lados */
  margin: 0 auto; /* Centra horizontalmente la imagen */
}
